
:root {
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes shine {
  from {
    filter: brightness(100%);
  }
  to {
    filter: brightness(105%);
  }
}

@keyframes leftToRight {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

@keyframes floating {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(5px);
  }
}

@keyframes rolar-dado-turno {
  0% {
    opacity: 0%;
    transform: rotate(0deg);
    color: transparent;
    text-shadow: none;
  }
  15% {
    opacity: 100%;
  }
  40% {
    transform: rotate(1800deg);
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: var(--white);
    text-shadow: 2px 2px var(--black);
  }
  95% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
